.list{
  list-style: none; overflow: hidden; margin-top: 5px; margin-left: 0px;
}
.list li {
  border-radius: 4px;  width: 9%; height: 20px; text-align: center;
         line-height: 20px; font-size: 12px; font-weight: bold; float: left; position: relative; -moz-border-radius: 4px; -webkit-border-radius: 4px;overflow:hidden;border: 1px solid ;
}
.root li {
  width: 19%; 
}
.list li + li {
  margin-left: 5px;
}
.list li.mark{
  color:#468847;
  background-color:rgb(223, 240, 216);
}
.list li.null{
  border: 1px solid rgb(221, 221, 221);
  color:rgb(221, 221, 221);
}
#foot{
  height: 300px;
  background-color:#ffffff;
  border: 0px solid rgba(0, 0, 0, 0);
  box-shadow:inset 0px 1px 1px rgba(0,0,0,0);
}
